*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,body,#rrot{
  height: 100%;
  width: 100%;
}

body{
  background:radial-gradient(rgb(128, 114, 250),rgb(73, 73, 71)) ;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.formDiv{
  display: flex;
  
  width: 100%;
  /* background-color: red; */

}

#note{
  background:radial-gradient( rgb(226, 95, 215),rgb(140, 205, 231),rgb(140, 224, 132));
  max-width: 25rem;
  width: 400px;
  height: 400px;
  border-radius: 1rem;
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  color: rgb(58, 50, 45);


}

#note .viewNotes{
  /* background-color: rgb(229, 158, 158); */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#note .viewNotes h1{
  background: linear-gradient(rgb(235, 120, 120),rgb(156, 238, 170));
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

#note .viewNotes h2{
background:linear-gradient(rgb(233, 144, 144),rgb(134, 134, 250));
border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 1rem;
  width: 100%;
  height: 6em;
  font-weight: 400;

}

#notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline:1rem ;
  width: 100%;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#btn{
  padding-inline: 15px;
  padding-block: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(87, 170, 87);
  margin-inline: 2rem;
}

#btn2{
  padding-inline: 10px;
  padding-block: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(231, 64, 59);
  margin-inline: 2rem;
}

.cancelChanges{
  
  padding-inline: 10px;
  padding-block: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(230, 143, 140);
  margin-inline: 2rem;

}

.saveChange{
  padding-inline: 15px;
  padding-block: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(146, 228, 146);
  margin-inline: 2rem;
}

#btnsDiv{
  display: flex;
  gap: 5px;
  margin-top: 2rem;
  background: linear-gradient(rgb(235, 139, 139),rgb(156, 243, 156));
  border-radius: 20px;
}

.editDivBtns{
  display: flex;
}

.descChnage{
  height: 100px;
}

#btn:active{
  scale: 0.95;
}

.submitNotes{
margin-inline: 1rem;
margin-block: 1.5rem;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
font-size: 1.5rem;
font-weight: 700;
/* background-color: yellow; */
padding: 10px;

}
.submitNotes input{
font-size: 25px;
}

.submitNotes button{
   padding-inline: 10px;
  padding-block: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(124, 137, 253);
  margin-inline: 2rem;
}

.editDiv{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editDiv input{
  padding: 1rem;
  font-size: 20px;
}