*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,body,#rrot{
  height: 100%;
  width: 100%;
}

body{
  background-color: gray;
}


#note{
  background:radial-gradient( rgb(226, 95, 95),rgb(231, 140, 148),rgb(224, 138, 132));
  max-width: 25rem;
  border-radius: 1rem;
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(58, 50, 45);


}

#notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline:1rem ;
}

#btn{
  padding-inline: 15px;
  padding-block: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(87, 170, 87);
  margin-inline: 2rem;
}

#btn2{
  padding-inline: 10px;
  padding-block: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(231, 64, 59);
  margin-inline: 2rem;
}

#btnsDiv{
  display: flex;
  gap: 5px;
  margin-top: 2rem;
  background: linear-gradient(rgb(235, 139, 139),rgb(156, 243, 156));
  border-radius: 20px;
}

#btn:active{
  scale: 0.95;
}

.submitNotes{
margin-inline: 1rem;
margin-block: 1.5rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
font-size: 1.5rem;
font-weight: 700;

}
.submitNotes input{
font-size: 25px;
}

.submitNotes button{
   padding-inline: 10px;
  padding-block: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(124, 137, 253);
  margin-inline: 2rem;
}